/* Google Fonts - start */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
/* Google Fonts - end */

:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --blue-color: #00283F;
  --cyan-color: #6DCBFF;
}

